
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;900&display=swap');

:root {
	--gp-primary-color: #3e3e3e;
	--gp-secondary-color: #8A00DE;
	--gp-secondary-hover-color: #57477d;
	--gp-secondary-text-color: #ffffff;
	--gp-accent-color: #eae6f1;
	--gp-navbar-link-color: #ffffff;
	--gp-navbar-link-hover-color: #ffffff;
}

html, body {
	padding:0;
	margin:0;
    background-color: black;
	font-family: "Source Sans Pro", sans-serif;
}
a {
	text-decoration: none;
}
h1 {
	font-weight: 900;
}
.container {
	position:relative;
	font-family: "Source Sans Pro", sans-serif;
	color:#ffffff;
	margin:auto;
	padding-top: 25px;
	background-image: url(../images/couple_bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 250px;
	overflow:hidden;
}
.x_bg {
/*	background-image: url(images/X.svg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 150%;
*/	position:absolute;
	height:100%;
	width:150%;
	left:50%;
	transform: translate(-51%);
	top:0;
	z-index: 1;
	clip-path: polygon(35% 0, 0 0, 30% 50%, 0 100%, 34% 100%, 50% 70%, 68% 100%, 100% 100%, 70% 50%, 100% 0, 68% 0, 50% 30%);
	background-color: rgba(255,255,255,0.05);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}
.hero {
	position: relative;
	margin:0 20px;
	max-width: 1024px;
	z-index:9;
}
.header {
	display:flex;
	align-items: center;
    justify-content: space-between;
	width:100%;
}
.logo {
	height:35px;
	filter: drop-shadow(0px 0px 22.6506px rgba(138, 0, 222, 0.75));
}
.login-form-wrap {
	display:none;
}
.login a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-decoration:none;
	text-transform: uppercase;
	padding: 8px 20px;
	background: linear-gradient(88.96deg, #7900C2 0%, #DE006A 100%);
	border:1px solid #B33CEC;
	filter: drop-shadow(0px 0px 22.6506px rgba(138, 0, 222, 0.75));
	border-radius: 8px;
	font-size: 14px;
}
.email,
.pass {
	width:50%;
	margin-right:10px;
}
input {
	width:100%;
	border:1px solid #3D3D4F;
	background-color:#1F1F23;
	padding:10px;
	border-radius:10px;
	color: #fff;
}
::placeholder {
	color:#999;
}
input[type=submit] {
	background: #000000;
	border:1px solid #B33CEC;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight:700;
	padding-left:20px;
	padding-right:20px;
}
input[type=checkbox] {
	width:min-content;
	margin-right:5px;
}
input:focus-visible {
	outline:none;
  outline-offset: 0px;
}
.forgot-password-link,
label {
	font-size:.7em;
	white-space:nowrap;
	color: rgba(255,255,255,0.5);
}
.forgot-password-link,
label a {
	color: rgba(255,255,255,0.5);
	text-decoration:none;
}
.title {	text-align: center;}
.title h1 {
	font-size: 30px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	margin: 15px 0;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.hero_img {
	position: relative;
	border-radius: 25px;
	overflow: hidden;
	border: 4px solid #B03CE9;
	width:100%;
	background:#ffffff;
}
.hero_img video {
	width:100%;
	margin: -25px 0;
}
.weekly-photos-videos {
	display:flex;
    flex-wrap: nowrap;
	font-size: 1em;
	font-weight:200;
	margin-top: 5px;
	font-weight:200;
}
.weekly-photos-videos span {
	display: block;
	white-space: nowrap;
	text-transform: uppercase;
}
.signup {
	display: none;
	border-radius: 25px;
	text-align: center;
	background: #1b0a2b;
	border: 4px solid #B03CE9;
}
.signup h1 {
	text-transform: uppercase;
}
iframe {
    height:300px;
    transition: height .5s;
}
.join {
	margin: 25px auto;
}
.join a {
	background: linear-gradient(88.96deg, #7900C2 0%, #DE006A 100%);
	border:1px solid #B33CEC;
	filter: drop-shadow(0px 0px 22.6506px rgba(138, 0, 222, 0.75));
	border-radius: 8px;
	color:#ffffff;
	padding:15px 35px;
	position:relative;
	z-index:9;
	display: block;
	text-transform: uppercase;
}
.slides {
	padding:20px 0;
	overflow:hidden;
	border-top:1px solid rgba(255,255,255,0.3);
	border-bottom:1px solid rgba(255,255,255,0.3);
	background-color: rgba(255,255,255,0.2);
}
.slides svg {
	fill:var(--gp-secondary-color);
	height:30px;
	width:30px;
	margin-right:10px;
}
.slides p {
	color:#ffffff;
	max-width:1024px;
	margin: 0px 10px 20px;
    font-size: 1.5em;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	text-shadow: 0 0 4px #8A00DE;
	font-weight: 600;
	display: flex;
	align-items: center;
	white-space: nowrap;
	text-transform: uppercase;
}
.slides p span {
	display:block;
	width:	-webkit-fill-available;
	height: 1px;
	background-color: rgba(255,255,255,0.3);
	box-shadow: 0 0 4px #8A00DE;
}
.slides p span:first-child {
	margin-right:10px;
}
.slides p span:last-child {
	margin-left:10px;
}
.txtusername {
    position: absolute;
    bottom:0;
    font-size: 12px;
    text-align: center;
    width:100%;
    height: 15px;
    background-color: rgb(0,0,0,.5);
    color: #ccc;
}
.row2 {
	margin-top:20px;
	margin-left:-100px;
}
.carousel-cell {
	border-radius:5px;
	margin:0 10px;
	overflow:hidden;
	height:200px;
	width:200px;
}
.join_divider {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	position: relative;
	padding:30px 0;
}
.divider {
	position: absolute;
	top:50%;
	border-top:1px solid rgba(255,255,255,0.3);
	width: 100%;
}
.username {
	color:#8A00DE;
}
@media screen and (min-width: 800px) {
	.login-form-wrap {
		display:flex;
		justify-content: space-between;
		width:60%;
		min-width: min-content;
	}
	.login-form-wrap .form-group-wrap {
		display: grid;
		grid-template-columns: 1fr 1fr auto;
		grid-template-rows: 1fr;
		grid-column-gap: 10px;
		grid-row-gap: 0px;
	}
	.login-form-wrap .form-group-wrap .form-group {
			margin: 0;
	}
	.login-form-wrap .form-control {
		height: 15px;
		border-radius: 8px;
		padding: 10px 14px;
		box-shadow: none;
		width: -webkit-fill-available;
	}            
	.login-form-wrap .input-group-addon {
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		border:1px solid #3D3D4F;
		background-color:#1F1F23;
		padding:9px 0 6px 10px;
		border-right:none;
	}
	.login-form-wrap .input-group {
		display:flex;
		align-items: center;
	}
	.login-form-wrap .input-group .form-control {
		border-left: none;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		padding-left: 10px;
	}
	.logo {
		height:50px;
	}
	.container {
		background-position: -75px top;
		padding: 25px;
		background-size: 400px;
	}
	.x_bg {
/*		background-size: 50%;
		background-position: top right -150px;
*/		background-color: rgba(255,255,255,0.08);
		width:500px;
		right:-100px;
		left: initial;
		transform:initial;
	}
	.hero {
		padding-bottom:50px;
		z-index:5;
	}
	.videocontainer {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.hero_img video {
		position: absolute;
		width: auto;
		top: 50%;
		left: 100%;
		min-width: 100%;
		min-height: 100%;
		transform: translateY(-50%) translateX(-100%);
	}
	.main {
		flex-direction: row;
		align-items: initial;
	}
	.title h1 {
		font-size: 36px;
	}
	.login {
		display:none;
	}
	.hero {
		margin:0 auto;
	}
	.hero_img {
		margin-right:10px;
		width:50%;
		height:unset;
	}
	.signup {
		display:block;
		margin-left:10px;
		width:50%;
		min-width: fit-content;
	}
	.main .join {
		display: none;
	}
	.slides p {
		margin: 0px 25px 20px;
	}
	.slides p span:first-child {
		margin-right:20px;
	}
	.slides p span:last-child {
		margin-left:20px;
	}
	.weekly-photos-videos {
		display:none;
	}
}
.carousel-cell, .carousel-cell img {
    width:150px;
    height:150px;
}
@media screen and (min-width: 1440px) {
	.join_divider,
	.slides,
	.footer_wrapper,
	.container {
		border-left:1px solid #540087;
		border-right:1px solid #540087;
		max-width: 1440px;
		margin-left:auto;
		margin-right:auto;
		padding-left:0;
		padding-right:0;
	}


}
@media screen and (min-width: 1070px) {
	.slides p {
		margin: 0px auto 20px;
	}
}